@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colores */
  --negro: #252525;
  --amarillo: #ffa400;
  --rojo: #fc2933;
  --blanco: #ffffff;
  --degrade1: #ffa100;
  --degrade2: #fb103d;
  --negrofondo: rgba(19, 20, 21, 255);
  /* fuentes */
  --montserratFONT: "Montserrat", sans-serif;
}
body {
  background: var(--negrofondo);
}
.main {
  font-family: var(--montserratFONT);
  display: flex;
  flex-direction: column;
  color: var(--blanco);
}
/* -----------HEADER----------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 6rem;
  padding-top: 2rem;
}
.nav {
  display: flex;
  gap: 3rem;
  list-style: none;
  gap: 5rem;
}
.nav a {
  text-decoration: none;
  color: var(--blanco);
}
.flexCol {
  display: flex;
  flex-direction: column-reverse;
}

/* ----------HERO--------------- */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding: 4rem;
}

.imghero {
  scale: 60%;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.hero__title {
  font-size: 4rem;
}
.small {
  font-size: 3.1rem;
}
.hero__BTN {
  background: linear-gradient(to right, var(--degrade1), var(--degrade2));
  width: 25%;
  height: 3rem;
  border-radius: 0.7rem;
  border: none;
  color: var(--blanco);
}
/* ----------recomendaciones----------------- */
.reco {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.reco p {
  margin-left: 5rem;
}
/* -----------CART------------------------- */
.cart {
  display: none;
  flex-direction: column;
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 7rem;
  background: var(--negro);
}
.close {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  background: linear-gradient(to right, var(--degrade1), var(--degrade2));
  cursor: pointer;
}
.cart__Container {
  width: 26rem;
  display: flex;
}
.cartBox {
  width: 24rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--negro);
  border-radius: 0.5rem;
}
.cartBox__info {
  background: var(--negro);
}
.moreLess {
  display: flex;
  gap: 1rem;
}
.productName {
  background: none;
}
.description {
  background: none;
  font-size: 0.8rem;
}
.price {
  background: none;
  color: linear-gradient(to right, var(--degrade1), var(--degrade2));
}
.morLes {
  background: linear-gradient(to right, var(--degrade1), var(--degrade2));
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.imgCart {
  width: 4rem;
  height: 3rem;
}
.display {
  display: flex;
}
.display-off {
  display: none;
}
