@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: rgb(73,59,232);
	background: linear-gradient(148deg, rgba(73,59,232,1) 0%, rgba(61,252,159,1) 100%);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 450px;
	height: 450px;
	padding: 2rem 3.5rem;
	border-radius: 10px;
	box-shadow: 0px 0px 5px grey;
}

img {
	height: 80px;
	width: 100px;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

input {
	height: 4rem;
	padding: 1rem;
	border: none;
	border-bottom: 1px solid rgb(22, 109, 225);
	color: rgb(22, 109, 225);
	padding: 0;
	font-size: 1.3rem;
	font-family: 'Poppins', sans-serif;
}

input::placeholder {
	opacity: 1;
	font-size: 1.3rem;
}

input:focus {
	outline: none;
	font-weight: bold;
	font-size: larger;
}

button {
	margin-top: 2rem;
	width: 180px;
	background-color: rgb(22, 109, 225);
	border: none;
	color: white;
	height: 2.5rem;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	box-shadow: 2px 5px 5px grey;
}

p {
	margin-top: 1rem;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}